# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.env
*.env

# Logs
*.log


# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# MyPy, Pyright
.mypy_cache/
.pyright/

# Pyre
.pyre/

# Pylint
.pylint.d/

# Editor backups
*~
*.swp
*.bak
*.tmp

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini